/* Common Utilities */
.centered {
  text-align: center;
}

.formContainer {
  box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  background-color: whitesmoke;
  min-height: 80vh;
}

/* Contact Us Form Designs */
.contactUsForm {
  background-color: whitesmoke; /* Does Nothing just there to fill the class */
}


/* login for design */
.loginformContainer {
  box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  background-color: whitesmoke;
  min-height: 45vh;

/* Product Card Designs */
.product-container {
  width: 200px;
  border: 1px solid red;
  display: flex;
}

/* Footer Designs */
.footer {
  position: relative;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: large;
}

/* Removing Pre Styles */
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
